<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.shop.admin.mapper.AdminMapper">

    <!-- 데이터 업데이트 -->
    <update id="updateProduct" parameterType="ProductUpdateRequest">
        update product
        set quantity=#{quantity}, price=#{price}, image=#{image}, description=#{description}, updated_at=Now()
        where product_Id=#{productId}
    </update>

    <!-- 모든 제품 조회 -->
    <select id="selectAllProduct" resultType="ProductTO">
        select product_id, product_name, quantity, price, image, description, created_at, updated_at
        from product
    </select>

    <insert id="insertProduct"  parameterType="ProductCreateRequest">

        insert into product(product_name,quantity,price,image,description,created_at ,updated_at) values (#{productName},#{quantity},#{price},#{image},#{description},Now(),NOW())

    </insert>

    <select id="selectProductByFilter" parameterType="ProductFilterRequest" resultType="ProductTO">
        select product_id, product_name, quantity, price, image, description, created_at, updated_at
        from product
        where 1=1
        <if test="minQuantity != null">
            AND quantity >= #{minQuantity}
        </if>
        <if test="minPrice != null">
            AND price >= #{minPrice}
        </if>
        <if test="maxPrice != null">
            AND price <= #{maxPrice}
        </if>
    </select>

</mapper>