<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.shop.admin.mapper.AdminMapper">

    <!-- 데이터 업데이트 -->
    <update id="updateProduct" parameterType="ProductUpdateRequest">
        update product
        set quantity=#{quantity}, price=#{price}, image=#{image}, description=#{description}, updated_at=Now()
        where product_Id=#{productId}
    </update>

    <!-- 모든 제품 조회 -->
    <select id="selectAllProduct" resultType="ProductTO">
        select product_id, product_name, quantity, price, image, description, created_at, updated_at
        from product
    </select>

    <update id="updateOrderDelivery" parameterType="OrderDeliveryRequest">
        update orders
        set order_status = 'SHIPPING' , updated_at = now()
        where order_id = #{orderId}
    </update>

</mapper>