<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.user.mapper.UserMapper">

    <select id="getAllProducts" resultType="productResponse">
        select product_id, product_name, price, image
        from products
    </select>

    <select id="getProductDetail" parameterType="Long" resultType="productResponse">
        select product_id, product_name, price, description, image
        from products
        where product_id = #{product_id}
    </select>

    <select id="getProductByNameOrPrice" parameterType="map" resultType="productResponse">
        select product_id, product_name, price, image
        from products
        <where>
            <if test="product_name != null and product_name != ''">
                product_name like concat('%', #{product_name}, '%')
            </if>
            <if test="price != null">
                <if test="product_name != null and product_name != ''">
                    and
                </if>
                price &lt;= #{price}
            </if>
        </where>
    </select>

</mapper>
